In [28]:
import pandas as pd

running_df = pd.read_excel("D:/Documents/RunningPD.xlsx", 0, usecols="A:C")
running_df.head()

        Date  Distance         Time
0 2023-01-01      3.18  00:27:08:00
1 2023-01-02      3.27  00:28:06:00
2 2023-01-03      3.17  00:29:39:00
3 2023-01-04      3.24  00:30:02:00
4 2023-01-05      3.20  00:29:25:00

In [31]:
# Should probably split the time column into hours, minutes and seconds for simplicity
# a solution for this since it is intended for populating a database would be to split the times and convert anything over
# 60 to hours since that is my only issue at the moment
pd.Timedelta(running_df.iat[0, 2], '%H:%M:%S:%f')

ValueError: unit must not be specified if the value is a str

In [48]:
from datetime import datetime, timedelta
t = datetime.strptime(running_df.iat[40, 2], '%H:%M:%S:%f')
#delta = timedelta(hours = t.hour, minutes = t.minute, seconds = t.second, microsecond = t.microseconds)
#delta
#t
t.strftime('%H:%M:%S:%f')

ValueError: time data '00:90:07:00' does not match format '%H:%M:%S:%f'

In [47]:
running_df.iat[40, 2]

'00:90:07:00'